@charset "UTF-8";

.summary_cnt ul.summary,.summary_cnt ul.summary li,li,ol,ul {
    list-style: none
}

body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,legend,p,pre {
    margin: 0
}

fieldset,ol,ul {
    margin: 0;
    padding: 0
}

td,th {
    padding: 0
}

table {
    font-size: inherit
}

fieldset,img {
    border: none
}

body {
    font-size: 12px;
    line-height: 1.5;
    background: #e9eaeb;
    color: #000
}

h1,h2,h3,h4 {
    font-size: 18px;
    font-weight: 400
}

body,button,input,select,textarea {
    font-family: "Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei",sans-serif;
    outline: 0;
    -webkit-text-size-adjust: none
}

button,input,select,textarea {
    font-size: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

:focus {
    outline: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,video {
    display: inline-block
}
html {
    height: 100%
}

a:hover {
    color: #0C4C7F;
    text-decoration: underline
}

a[disabled] {
    cursor: default;
    text-decoration: none;
    color: #787878
}

a[disabled]:hover {
    text-decoration: none
}

a.ww_redLink,a.ww_redLink:hover {
    color: #F05A5A
}

input,textarea {
    margin: 0;
    padding: 0;
    border: 0
}

textarea {
    overflow: auto
}

.summary_cnt {
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","黑体",Arial,sans-serif;
    position: absolute;
    top: 45px;
    left: -300px;
    bottom: 0;
    overflow-y: auto;
    padding-top: 20px;
    width: 300px;
    color: #364149;
    background: #fff;
    border-right: 1px solid rgba(0,0,0,.07)
}

.summary_cnt ul.summary .cate_selected>a,.summary_cnt ul.summary .cate_selected>a:hover {
    color: #fff;
    background-color: #4875AE
}

.summary_cnt ul.summary_doc_only li a {
    font-size: 14px
}

.summary_cnt ul.summary {
    margin: 0;
    padding: 0 0 140px;
    min-height: calc(100% - 141px)
}

.summary_cnt ul.summary .cate_selected>a .ww_apiImg_DotsWhiteSmall {
    display: inline
}

.summary_cnt ul.summary .cate_selected>a:before {
    color: #fff
}

.summary_cnt ul.summary li.header {
    padding: 20px 30px 7px;
    text-transform: uppercase;
    color: #939da3
}

.summary_cnt ul.summary li.divider {
    height: 1px;
    margin: 7px 0;
    overflow: hidden;
    background: rgba(0,0,0,.07)
}

.summary_cnt ul.summary li i.fa-check {
    display: none;
    position: absolute;
    right: 9px;
    top: 16px;
    font-size: 9px;
    color: #3c3
}

.summary_cnt ul.summary li.done>a {
    color: #364149;
    font-weight: 400
}

.summary_cnt ul.summary li.done>a i {
    display: inline
}

.summary_cnt ul.summary li a,.summary_cnt ul.summary li span {
    display: block;
    padding: 7px 30px;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

.summary_cnt ul.summary li a:hover {
    background-color: #D6DFE8;
    text-decoration: none
}

.summary_cnt ul.summary li a:focus {
    outline: 0
}

.summary_cnt ul.summary li.active>a {
    color: #1aad16;
    background: 0 0;
    text-decoration: none
}

.summary_cnt ul.summary li.active>a:hover {
    background-color: transparent
}

.summary>.chapter .level_two_warp .level_two {
    padding-left: 60px;
    font-size: 14px
}

.summary>.chapter .level_three_warp .level_three {
    padding-left: 76px;
    font-size: 14px
}

.summary>.chapter .level_three_warp :last-child>a:after {
    display: none
}

.summary>.chapter .level_three:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 61px;
    height: 17px;
    width: 6px;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1)
}

.summary>.chapter .level_three:after {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: 61px;
    height: 31px;
    width: 6px;
    border-left: 1px solid rgba(0,0,0,.1)
}

.summary>.chapter>.articles {
    margin-left: 20px
}

.summary>.chapter>.articles>.chapter>.articles>.chapter {
    position: relative
}

.summary>.chapter>.articles>.chapter>.articles>.chapter:before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    height: 8px;
    width: 6px;
    border-left: 1px solid #e7e7eb;
    border-bottom: 1px solid #e7e7eb
}

.summary>.chapter>.articles>.chapter>.articles>.chapter:after {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    height: 31px;
    width: 6px;
    border-left: 1px solid #e7e7eb
}

.frame_wrap,body {
    -webkit-font-smoothing: antialiased;
    height: 100%
}

.summary>.chapter>.articles>.chapter>.articles>.chapter:last-child:after {
    display: none
}

.summary>.chapter.close>a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    color: #8d8d8d;
    font-size: 14px;
    vertical-align: 1px;
    margin-right: 0;
    padding-left: 2px
}

.summary>.chapter.open>a:before {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    color: #8d8d8d;
    font-size: 14px;
    vertical-align: 1px
}

.frame_head_scene_btn,.frame_head_scene_btn:hover {
    color: #297CE0;
    text-decoration: none
}

.summary>.chapter>a:before {
    content: "";
    display: inline-block;
    width: 14px;
    margin-right: 2px
}

.summary_doc_only>.chapter>a:before {
    display: none
}

.summary>.chapter.open>ul {
    display: block;
    list-style: none
}

.book-summary-home,.summary>.chapter.close>ul {
    display: none
}

.summary>.chapter>a {
    font-size: 16px
}

.summary>.chapter>.articles>.chapter>.articles>.chapter>a,.summary>.chapter>.articles>.chapter>a {
    font-size: 14px
}

.book.with-summary .book-summary {
    left: 0
}

.summary>.chapter .ww_apiImg_DotsWhiteSmall {
    position: absolute;
    right: 0;
    top: 4px;
    display: none
}

.summary>.chapter .ww_apiImg_Unpublished {
    position: absolute;
    right: 25px;
    top: 9px
}

.frame_wrap {
    background-color: #fff;
    position: relative
}

.frame_wrap_promote {
    padding-bottom: 340px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    min-height: 800px;
    position: relative
}

.frame_head {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #E4E6E9;
    height: 54px;
    z-index: 1
}

.frame_head_oldFix {
    padding: 0 30px
}

.frame_logo {
    padding-top: 14px;
    display: inline-block
}

.frame_logo h1 {
    display: block
}

.frame_cnt_foot_nav,.frame_cnt_foot_nav_item,.frame_head_scene_btn,.frame_topMenu,.frame_topMenu_btn {
    display: inline-block
}

.frame_head_scene {
    position: relative;
    float: left;
    z-index: 11;
    padding-top: 15px
}

.frame_head_scene_btn {
    padding: 0 10px;
    height: 24px;
    border: 1px solid #297CE0;
    line-height: 24px;
    text-align: center;
    border-radius: 2px;
    margin-left: 25px
}

.frame_head_scene_btn:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    color: #297CE0;
    font-size: 14px;
    margin-left: 4px
}

.frame_sceneMenu .frame_sceneMenu_btn {
    font-size: 16px;
    background: #F7F8F8;
    cursor: pointer
}

.frame_sceneMenu .frame_sceneMenu_btn:hover {
    color: #000;
    background-color: #F7F8F8
}

.frame_sceneMenu .ww_btn_Dropdown .ww_btn_Dropdown_arrow {
    border-top-color: #000;
    top: 7px
}

.smart_menu_box, .ww_dropdownMenu {
    padding: 2px 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.3);
}

.qui_dropdownMenu, .smart_menu_box {
    position: absolute;
    z-index: 30;
    background: #FFF;
    border: none;
}

.frame_sceneMenu .qui_dropdownMenu,.frame_sceneMenu .smart_menu_box {
    left: 25px;
    padding: 10px 0;
    top: 45px
}

.qui_dropdownMenu ul, .smart_menu_box ul {
    padding: 0;
}

.ww_dropdownMenu_item {
    text-align: left;
}

.summary_cnt ul.summary, .summary_cnt ul.summary li, li, ol, ul {
    list-style: none;
}

.qui_dropdownMenu_itemLink, .smart_menu_a {
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    color: #000;
}

.ww_dropdownMenu_itemLink_text {
    display: inline-block;
    padding-left: 5px;
    vertical-align: top;
}
/*.frame_sceneMenu .qui_btn {
    border: none;
    color: #000;
    height: 20px;
    line-height: 20px
}*/

.frame_sceneMenu .smart_menu_a,.frame_sceneMenu .ww_dropdownMenu_itemLink {
    font-size: 14px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    padding: 0 20px
}

.frame_sceneMenu .smart_menu_a:hover,.frame_sceneMenu .ww_dropdownMenu_itemLink:hover {
    background: #D6DFE8;
    color: #000
}

.frame_topMenu {
    float: right;
    position: relative
}

.frame_topMenu .frame_topMenu_wrap {
    display: inline-block;
    position: relative
}

.frame_topMenu_oldFix {
    margin-right: 20px
}

.frame_topMenu_cnt {
    margin: 0 auto
}

.frame_topMenu_cnt .frame_topMenu_btn_checked:hover {
    color: #4A77AC
}

.frame_topMenu_btn,.frame_topMenu_btn:hover {
    text-decoration: none;
    color: #000
}

.frame_topMenu_btn {
    font-size: 14px;
    margin-right: 40px
}

.frame_topMenu_btn_oldFix {
    padding: 15px 5px
}

.frame_topMenu_btn_checked {
    color: #297CE0!important
}

.frame_topMenu_line {
    height: 2px;
    background: #297CE0;
    left: 0;
    position: absolute;
    top: 53px;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s
}

.frame_cnt,.frame_sidebar {
    bottom: 0;
    position: absolute;
    top: 54px
}

.frame_sidebar {
    left: 0;
    background-color: #FFF;
    width: 320px;
    border-right: 1px solid #E4E6E9
}

.frame_cnt {
    left: 321px;
    right: 0;
    overflow-y: auto;
    background-color: #fff
}

.frame_cnt_Full {
    left: 0
}

.frame_cnt_stage {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    padding: 30px 100px 24px;
    max-width: 900px;
    min-width: 780px
}

.frame_cnt_foot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 100px 24px
}

.frame_cnt_foot_pageNav {
    border-top: 1px solid #E4E6E9;
    padding-top: 24px;
    padding-bottom: 50px;
    margin: 0 auto
}

.frame_cnt_foot_pageNav_left {
    float: left
}

.frame_cnt_foot_pageNav_Right {
    float: right;
    text-align: right
}

.frame_cnt_foot_pageNav_link {
    font-size: 14px
}

.frame_cnt_foot_pageNav_text {
    font-size: 18px;
    color: #787878
}

.frame_cnt_foot_inside {
    margin: 0 auto;
    padding: 38px 0 42px;
    line-height: 21px;
    border-top: 1px solid #E4E6E9;
    color: #70798D
}

.frame_cnt_foot_info {
    float: left
}

.frame_cnt_foot_nav {
    margin-right: 6px
}

.frame_cnt_foot_nav_item_link {
    color: #70798D
}

.frame_cnt_foot_nav_item_dep {
    margin: 0 2px
}

.frame_banner {
    position: relative;
    width: 260px;
    height: 100px;
    border-top: 1px solid #E4E6E9;
    padding: 20px 30px;
    margin-top: -141px
}

.frame_banner span {
    font-size: 14px;
    color: #323232
}

.frame_banner a {
    position: absolute;
    left: 30px;
    bottom: 20px
}

.ww_apiImg {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0
}

a {
    color: #0C4C7F;
    text-decoration: none;
    -webkit-tap-highlight-color: #0C4C7F
}


.apiShow_cnt .editormd-html-preview {
    width: auto;
    padding: 20px 0 310px
}

.apiShow_cnt_titleBar {
    font-size: 14px;
    padding-top: 25px
}


.apiShow_cnt_titleBar_text {
    overflow: hidden;
    zoom:1}

.apiShow_cnt_titleBar_title {
    font-size: 28px;
    line-height: 40px;
    float: left;
    padding-right: 8px;
    color: #333
}

.apiShow_cnt_titleBar_unpublish {
    float: left
}

.apiHeader_frame {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #E4E6E9;
    height: 54px;
    z-index: 1
}

.apiHeader {
    position: relative;
    background: 0 0;
    margin: auto;
    height: 100%;
    width: calc(100% - 60px);
    min-width: 980px;
}

.apiHeader_center {
    width: 1000px
}

.apiHeader_logoWrap {
    position: relative;
    float: left;
    z-index: 11;
    padding-top: 14px;
    display: flex;
    align-items: center
}

.apiHeader_logoWrap a {
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    text-decoration: none
}

.apiHeader_rightWrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%
}

.apiHeader_rightWrap .apiHeader_login {
    padding-right: 0
}

.apiHeader_rightWrap .apiHeader_login .apiHeader_quitLogin {
    text-align: right;
    float: right
}

.apiHeader_rightWrap_search .apiHeader_login {
    width: 70px;
    padding-right: 30px;
    float: none
}

.apiHeader_rightWrap_search .apiHeader_login .apiHeader_quitLogin {
    text-align: left;
    float: none
}

.apiHeader_login {
    width: 100px;
    height: 100%;
    position: relative
}

.apiHeader_login .apiHeader_loginBtn {
    width: 54px;
    height: 24px;
    color: #0085DE;
    line-height: 24px;
    border-radius: 3px;
    margin-top: 14px;
    text-align: center;
    display: inline-block;
    border: 1px solid #0085DE
}

.apiHeader_login .apiHeader_loginBtn:hover {
    text-decoration: none
}

.apiHeader_login .apiHeader_quitLogin {
    color: #000;
    font-size: 14px;
    display: inline-block;
    width: 56px;
    height: 54px;
    line-height: 54px;
    text-align: left
}

.apiHeader_login .apiHeader_quitLogin:hover+.apiHeader_loginInfo {
    display: block
}

.apiHeader_loginInfo {
    display: none;
    position: absolute;
    padding: 15px 20px;
    top: 50px;
    left: -130px;
    width: 250px;
    height: 120px;
    z-index: 2
}

.wwopen_header_left,.wwopen_header_right {
    position: relative;
    padding-top: 14px;
    z-index: 11
}

.apiHeader_loginInfo :nth-child(3) {
    margin-top: 10px
}

.apiHeader_loginInfo_title {
    font-size: 12px;
    color: #787878;
    line-height: 18px
}

.apiHeader_loginInfo_cnt {
    font-size: 14px;
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.apiHeader_searchWarp {
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 0;
    width: 14px;
    background: #fff;
    -webkit-transition: width 250ms ease;
    -o-transition: width 250ms ease;
    transition: width 250ms ease
}

.apiHeader_searchWarp input {
    height: 22px;
    line-height: 22px;
    vertical-align: 3px;
    font-size: 14px;
    transition: width 250ms ease
}

.apiHeader_searchWarp input,.header_promote_search input {
    -webkit-transition: width 250ms ease;
    -o-transition: width 250ms ease
}

.apiHeader_rightContent svg,.header_link svg {
    cursor: pointer;
    vertical-align: middle
}

.apiHeader_searchWarp input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset!important;
    outline: 0
}

.apiHeader_searchWarp .ww_commonImg_DeleteItem {
    margin-top: 15px
}

.ww_commonImg_DeleteItem {
    background-image: url(../../images/commonImages.png);
    background-position: -345px -45px;
    width: 12px;
    height: 12px;
}

.ww_searchInput_delete {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    z-index: 10;
}

.ww_commonImg {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}

.apiHeader_searchIcon {
    display: inline-block;
    width: 22px;
    height: 54px;
    text-align: center;
    cursor: pointer
}

.apiHeader_searchIcon svg {
    margin-top: 20px
}

.apiHeader_rightContent {
    display: inline-block;
    position: absolute;
    right: 100px
}

.apiHeader_rightContent a {
    color: #000;
    margin-right: 30px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    height: 54px;
    line-height: 54px
}

.apiHeader_secret .apiHeader_rightContent {
    right: 56px
}
